.ConfigurationForm {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .ConfigurationForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
  }
}

.ConfigurationForm fieldset legend {
  margin-bottom: 0.5rem;
  font-size: 80%;
}

.ConfigurationForm label {
  font-size: 90%;
}

@media (min-width: 768px) {
  .ConfigurationForm fieldset {
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 0.5rem 1rem 0 1rem;
    margin-bottom: 1rem;
  }
  .ConfigurationForm legend {
    width: auto;
    margin: 0;
  }
}

.ConfigurationForm :global(.btn-group) {
  width: 100%;
}
.ConfigurationForm label {
  font-weight: normal;
}

.SideBySide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  align-items: baseline;
}

@media (min-width: 768px) {
  .SideBySide {
    display: block;
  }
}

.Help {
  display: flex;
  font-style: italic;
  font-size: 90%;
  align-items: center;
}

.Help button {
  font-size: inherit;
  padding: 0 0.25rem;
}

.FullWidth {
  grid-column: auto / span 2;
  display: flex;
  flex-direction: column;
}

.FullWidthGrayBox {
  composes: FullWidth;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .FullWidthGrayBox {
    margin-top: 0rem;
  }
}

fieldset:nth-child(1) {
  grid-row: 1;
}

fieldset:nth-child(3) {
  grid-row: 2;
}

fieldset:nth-child(7) {
  grid-row: 3;
}
