.alignToRight {
  text-align: right;
}

.explanation {
    text-align: justify;
}

.presets{
    border: 1px solid #cccccc;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
  }
  
  .presetTittle{
    font-size: 95%;
  }