.assetInfoToggle .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 85%;
  opacity: 0.75;
  padding: 0.5rem 1rem;
}

.assetInfoToggle .info > span:first-child {
  display: flex;
}

.assetInfoToggle .info > span:first-child > * {
  padding-right: 1rem;
}

.assetInfoToggle .info :global(.reportedTime) {
  display: flex;
  font-size: 85%;
  opacity: 0.75;
  text-align: right;
}

.assetInfoToggle .info :global(.reportedTime) :global(.textWithIcon) {
  width: auto;
  display: inline-block;
}

.assetInfoToggle .info :global(.reportedTime) time {
  margin-left: 0.25rem;
}

.assetInfoToggle + .assetInfoToggle {
  border-top: 1px solid #dcdcdc;
}
.assetInfoToggle[data-toggled="0"] .info {
  padding-right: 0.75rem;
}
.assetInfoToggle[data-toggled="0"] time {
  display: none;
}
.assetInfoToggle[data-toggled="1"] time {
  display: inline-block;
}
