html {
  font-family: "Inter", "system-ui";
}

:root {
  --bs-font-sans-serif: "Inter", "system-ui";
  --bs-body-font-weight: 300;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui";
  }
  :root {
    --bs-font-sans-serif: "Inter var", "system-ui";
  }
}

main h4 {
  font-size: 100%;
}

@media (max-width: 576px) {
  .card {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
  main > .row > * {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 576px) {
  main.container {
    margin-top: 1.5rem;
  }
}
