.collapsableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  animation: spin 4s linear infinite;
}

.chevron {
  transform: rotate(0);
  transition-duration: 0.25s;
  transition-property: transform;
}

.collapsable > header[aria-expanded="true"] .chevron {
  transform: rotate(180deg);
}

.collapsable + .collapsable {
  margin-top: 0.5rem;
}
