.showSettingsButton {
  border: 0;
  padding: 0;
  background-color: #ffffffaf;
  display: block;
  height: 50px;
  width: 65px;
  transition-duration: 250ms;
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.showSettingsButton span,
.showSettingsButton span img {
  width: 25px;
  height: 25px;
}

.showSettingsButton[aria-expanded="true"] {
  background-color: #f7f7f7;
}

.chevron {
  transform: rotate(0);
  transition-duration: 0.25s;
  transition-property: transform;
}

.cog {
  margin-left: calc(1rem + 4px);
}

.showSettingsButton[aria-expanded="true"] .chevron {
  transform: rotate(180deg);
}
