.mapContainer {
  height: 300px;
}

.historyInfo {
  display: grid;
  grid-template: auto / 1fr 2fr;
}

.historyInfo dt,
.historyInfo dd {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #f0f0f0;
}
.historyInfo dt {
  padding-right: 1rem;
}
.historyInfo dd {
  flex-grow: 1;
}

.resizeMapButton {
  border: 0;
  padding: 0;
  background-color: #ffffffaf;
  display: block;
  height: 50px;
  width: 65px;
  transition-duration: 250ms;
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  cursor: pointer;
}
.resizeMapButton span,
.resizeMapButton span img {
  width: 25px;
  height: 25px;
}
.resizeMapButtons[aria-expanded="true"] {
  background-color: #f7f7f7;
}
.menu {
  margin-left: calc(1rem + 4px);
}
