name: Test and Release

on: push

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.x"
      - name: Keep npm cache around to speed up installs
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci --no-audit
      - run: rm -rf node_modules/.cache/eslint-loader
      - name: Build
        env:
          BASE_URL: /asset-tracker-cloud-app-aws/
          VERSION: ${{ github.sha }}
        run: npm run build
      - uses: actions/upload-artifact@v2
        with:
          name: asset-tracker-cloud-app-aws-${{ github.sha }}
          path: public
      - name: Publish to GitHub pages
        if: github.ref == 'refs/heads/saga'
        run: |
          echo "machine github.com login accesskey password ${{ secrets.GITHUB_TOKEN }}" > ~/.netrc
          git config --global user.email "actions@example.com"
          git config --global user.name "GitHub Actions"
          cd build
          touch .nojekyll
          git init
          git add -A
          git commit -m "update web app"
          git remote add origin https://github.com/${GITHUB_REPOSITORY}.git
          git push -f origin HEAD:gh-pages
      - name: Semantic release
        continue-on-error: true
        run: npx semantic-release
